@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(147, 47, 240, 0.726);
    padding: 10px;
    margin: auto;

    
}

header{
    background-color: rgba(181, 148, 212, 0.623);
    border-radius: 10px;
    
}

header>h1{
    text-align: center;
    color: white;
    margin-top: 10px;
}

span#burguer{
    color: white;
    display: block;
    text-align: center;
    
}

span#burguer:hover{
    color: black;
    background-color:rgb(87, 87, 87) ;
    cursor: pointer;
}

menu{
    display: none;
    
}

menu> ul{
    list-style-type: none;
}

menu>ul>li>a{
    
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    
    text-align: center;
    background: rgb(70, 33, 107) ;
    border-top: 2px solid black;
    
}

menu a:hover {
    background-color: rgba(147, 47, 240, 0.726);
}

main{
    padding: 20px;
    text-indent: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    
}

main h2{
    text-align: center;
    margin-bottom: 20px;
}

main p{
    text-align: justify;
    padding: 5px;
}