@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(203, 223, 248);
}

header{
    background-color: lightslategrey;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header>h1{
    flex:0 0 200px;
}

header>nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

a{
    padding: 5px;
}

main{
    background-color: white;
    width: 80vw;
    padding: 12px;
    text-align: justify;
    margin: auto;
    border-radius: 9px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
}

